body {
	background-image: url('https://images.unsplash.com/photo-1584886448456-daeda435c742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
	background-size: cover;
}
.login {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
  }
  
  .login .loginn {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	background-color: rgba(75,75,75,0.7);
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
  }
  
  .login:hover .loginn{
	background-color: rgba(48, 152, 157, 0.4);
  }
  
  .login img {
	display: block;
	position: relative;
  }
  
  .login h1 {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 50px;
	padding: 100px;
	background: rgba(0, 0, 0, 0.6);
	-webkit-transform: translateY(45px);
	-ms-transform: translateY(45px);
	transform: translateY(45px);
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
  }
  
  .login:hover h1 {
	-webkit-transform: translateY(5px);
	-ms-transform: translateY(5px);
	transform: translateY(5px);
  }
  
  .login input.info {
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	background-color: transparent;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	font-weight: normal;
	margin: -52px 0 0 0;
	padding: 62px 100px;
  }
  
  .login:hover input.info {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
  }
  
  .login input.info:hover {
	box-shadow: 0 0 5px #fff;
  }
  input[type=text] {
	border: 2px solid red;
	border-radius: 4px;
	padding: 10px;
  }input[type=password] {
	border: 2px solid red;
	border-radius: 4px;
	padding: 10px;
  }
  input[type=submit] {
	border: 2px solid red;
	border-radius: 4px;
	padding: 10px;
  }
  input[type=number] {
	border: 2px solid red;
	border-radius: 4px;
	padding: 10px;
  }
  input[type=date] {
	border: 2px solid red;
	border-radius: 4px;
	padding: 10px;
  }
  select{
		border: 2px solid red;
		border-radius: 4px;
		padding: 10px;
  }
.pagee {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	border: 1px solid #555;
	position: fixed;
	height: 100%;
	overflow: auto;
}
.pagee a{
	display: block;
	color: rgb(250, 8, 8);
	padding: 8px 16px;
	text-decoration: none;

}
.pagee a:hover {
	background-color: #555;
	color: white;
}
.active {
	background-color: #4CAF50;
	color: white;
  }
.pagee a:hover:not(.active) {
	background-color: #555;
	color: white;
  }
  .a {
	color: rgb(34, 172, 46);
  }
  tr {
	  background-color: rgb(199, 27, 27);
  }
  h2{
	color: rgb(34, 172, 46);
  }
  .abcd{
	text-align: center;
	height: 300px;
	width: 600px;
	margin-left: 40%;
	margin-top: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
	

  }